.div-login {
    min-height: 100vh;
    background-color: orange;
    background-image: url('https://cdn.pixabay.com/photo/2022/09/15/11/14/sea-7456253_1280.jpg');
    background-size: cover;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.form-login {
    background-color: white;
    width: 40%;
    height: 65vh;
    margin-top: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5%;
}

.form-login p {
    font-size: 25px;
}

.form-login h1 {
    font-size: 55px;
}

.form-login label {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: none;
    border-bottom: 3px solid rgb(172, 167, 167);
}

.form-login input {
    padding: 15px;
    border: none;
    font-size: 20px;
    background-color: rgba(228, 225, 223, 0.479);
}